.app {
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.headerBlock {
    display: grid;
    place-items: center;
}

h1 {
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
}
